---
eleventyExcludeFromCollections: true
permalink: /terminal.json
---
{
  "name": "BLEU Community",
  "tagline": "Build • Learn • Explore • Unite",
  "website": "https://bleu-community.tech",
  "blogs": "https://bleu-community.tech/blogs/",
  "github": "https://github.com/BLEU-IO/BLEU-Website",
  "discord": "https://discord.gg/sjU9VCT3h4",
  "endpoints": {
    "home": "https://bleu-community.tech/terminal.txt",
    "help": "https://bleu-community.tech/terminal-help.txt",
    "json": "https://bleu-community.tech/terminal.json"
  }
}
