---
eleventyExcludeFromCollections: true
permalink: /terminal.txt
---
██████╗ ██╗     ███████╗██╗   ██╗
██╔══██╗██║     ██╔════╝██║   ██║
██████╔╝██║     █████╗  ██║   ██║
██╔══██╗██║     ██╔══╝  ██║   ██║
██████╔╝███████╗███████╗╚██████╔╝
╚═════╝ ╚══════╝╚══════╝ ╚═════╝

Build • Learn • Explore • Unite

join us. grow. help others grow.

Website: https://bleu-community.tech
Community Blogs: https://bleu-community.tech/blogs/
GitHub: https://github.com/BLEU-IO
Discord: https://discord.gg/sjU9VCT3h4

Try these endpoints:
$ curl https://bleu-community.tech
$ curl https://bleu-community.tech/terminal-help.txt
$ curl https://bleu-community.tech/terminal.json
